{% extends 'base.html' %}

{% block title %} {{ author.alias }} | Авторы {% endblock %}

{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/article_list.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/tags/tags.css' %}">
    <style>
        .link-pagination, .pagination {
            color: var(--main-color);
        }
        main {
            background: var(--main-background);
        }
        p {
            white-space: break-spaces;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>Об авторе</h2>
    <p><b>Псевдоним: </b>{{ author.alias }}</p>
    <p><b>Полностью: </b>{{ author.first_name }} {{ author.surname }}</p>
    <p><b>Публикаций: </b>{{ author.article_set.count }}</p>
    <p class="about_author"><b>О себе: </b>Тут должно быть небольшое описание в будущем.</p>

    {% if author.tags.all %}
    <p>Следит за тегами:</p>
        <div class="tags-body">
        {% for tag in author.tags.all %}
        <a href="{% url 'blog:articles_by_tag' tag.id %}"><div class="tag">{{ tag.name }}&nbsp;</div></a>
        {% endfor %}
    </div>
    {% endif %}

    <br>
    <section>
        <h2 class="section-header">Cтатьи автора</h2>
        {% for article in articles %}
        <a class="click" href="{% url 'blog:article_detail' article.id %}">
            <article class="article">
                <div class="article-body">
                    <div class="article-title">
                        <div class="article-name">
                            {{ article.title }}
                        </div>
                        <div class="article-time">
                            {{ article.created_at|date:"j E" }}
                        </div>
                    </div>
                    <p class="article-content">
                        {{ article.body|truncatewords:10 }}
                    </p>
                </div>
            </article>
        </a>
        {% endfor %}
    </section>
{% endblock %}