{% load bootstrap5 %}

{% if is_users_articles %}
<h2 class="display-4 mb-5 ">Статьи пользователя</h2>
{% endif %}

{% if filter %}
<form method="get">
  <div class="d-flex align-items-start flex-column">
    <div class="d-flex justify-content-start align-items-start">
      <div>{% bootstrap_field filter.form.range bound_css_class='form-select-sm' %}</div>
    </div>
    <div class="ms-2 mb-3"><input type="submit" class="btn btn-outline-primary" value="Найти"></div>
  </div>
</form>
{% endif %}


<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
  {% for article in object_list %}
  <div class="col">
    <article class="card h-100">

      {% load thumbnail %}
      {% thumbnail article.title_photo "619x349" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="card-img-top h-100"
        alt="title-photo">
      {% empty %}
      {% load static %}
      <img src="{% static 'blog/placeholder/default.jpeg' %}" width="619" height="349" class="card-img-top h-100"
        alt="title-photo">
      {% endthumbnail %}

      <div class="card-body">
        <h5 class="card-title">{{ article.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ article.created_at|date:"j E" }}</h4>
          <p class="card-text text-truncate">{{ article.description|truncatewords:10 }}</p>
          <a href="{% url 'blog:article_detail' article.id %}" class="btn btn-outline-primary">Читать</a>
      </div>
      <div class="card-footer">
        {% load humanize %}
        <small class="text-muted">
          {% if article.was_updated_recently %}
          Обновлено {{ article.updated_at|naturaltime }}
          {% else %}
          Обновлено {{ article.updated_at|date }}
          {% endif %}
        </small>
      </div>
    </article>
  </div>
  {% empty %}
  <p>Еще ничего не опубликовано</p>
  {% endfor %}
</div>
