{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% load static %}

{% block content %}


<div class="col-md-3 mx-md-auto">
  <div class="mb-4 mt-4 text-center">
    <img src="{% static 'blog/images/incognito.png' %}" alt="label" width="300" height="100">
  </div>
  <h2 class="display-4 text-center">Вход</h2>
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% load bootstrap5 %}
    {% bootstrap_form form %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% buttons %}
    <button type="submit" class="btn btn-primary" onclick="this.form.submit(); this.disabled = true;">
      Войти
    </button>
    {% endbuttons %}
  </form>
  <a href="{% url 'password_reset' %}">Забыли пароль?</a>
</div>


{% endblock %}
