{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="col-md-3 mx-md-auto">
  <h2 class="display-4">Вход</h2>
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% load bootstrap5 %}
    {% bootstrap_form form %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% buttons %}
    <button type="submit" class="btn btn-primary" onclick="this.form.submit(); this.disabled = true;">
      Войти
    </button>
    {% endbuttons %}
  </form>
  <a href="{% url 'password_reset' %}">Забыли пароль?</a>
</div>


{% endblock %}
