{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
{% if validlink %}
<h2 class="display-4 text-center">Пожалуйста введите ваш новый пароль</h2>
<div class="col-6 mx-auto">
  <form action="" method="post">
    {% csrf_token %}
    {% load bootstrap5 %}
    {% bootstrap_form form %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% buttons %}
    <button type="submit" class="btn btn-primary" onclick="this.form.submit(); this.disabled = true;">
      Подтвердить
    </button>
    {% endbuttons %}
  </form>
  {% else %}
  <h1>Во время сброса пароля произошла ошибка.</h1>
  <p>
    Ссылка для сброса пароля является неактивной, возможно она уже была использована.
    Пожалуйста, запросите ссылку заново.
  </p>
</div>
{% endif %}
{% endblock %}
