a, a:visited{
    text-decoration: none;
    color: var(--main-color);
}

.body {
    display: flex;
    flex-direction: column;

    margin: 10px;
    padding: 10px;
    border-radius: 10px;

    background: rgb(213, 219, 219);
}

.body:hover {
    background: rgb(183, 194, 194);
}
.fullname, .publications {
    font-size: small;
}