form {
    width: 600px;
    margin: auto;
    padding: 10px;
}

fieldset {
    border-radius: 10px;
    border: 2px solid #A65353;
    margin: 10px 0 10px;
    padding: 20px;
}

.title {
    margin-left: 20px;
    width: 500px;
}

textarea {
    width: 600px;
    resize: none;
}

button {
    padding: 10px 24px;
    background: #489fa3;
    text-align: center;


    border: none;
    border-radius: 5px;

    color: #FFFFFF;
    font-weight: bold;

    cursor: pointer;
}

button:hover {
    background: #b83636;
}

button:active {
    background: #833a3a;
}