:root {
    --main-background: linear-gradient(#e9e5e5, #f1f0f0);
    --main-color: #292a30;
    --main-white-color: aliceblue;
    --main-font-size: 18px/1.5 sans-serif;
    --main-red-color: linear-gradient(140deg, #A65353, #b65f5f);
    --header-height: 80px;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {outline: none;}
a:focus, a:active {outline: none;} 

nav, footer, header, aside {display: block;}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

body {
    color: var(--main-color);
    font: var(--main-font-size);
}

main {
    height: auto;
    min-height: 100vh;
    padding: 50px 100px 50px 100px;
    padding-top: calc(var(--header-height) + 1em);

    background-image: url('../images/background.jpg');
    background-size: cover;
}

header {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;

    background: linear-gradient(140deg, rgb(33, 33, 53), rgb(65, 65, 112));

    position: fixed;
    z-index: 10000;
}

.clear {
    clear: both;
}

footer {
    background: linear-gradient(180deg,#1a1525, #140e1a);
    height: 30vh;
    width: 100%;
}

.logo {
    position: absolute;
    top: 1.5em;
    left: 1em;
    color: var(--main-white-color) ;
}

.end-logo {
    color: #A65353;
}

nav, .menu {
    margin-left: 200px;
    height: inherit;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0.5em;
    margin: 20px 0 10px 10px;
    display: inline-flex;
    border-bottom: 4px solid rgb(206, 207, 207);
}

.menu li:hover {
    border-bottom: 4px solid rgb(168, 177, 177);
}

.menu a {
    color: var(--main-white-color);
    font-weight: 300;
}

.menu a:hover {
    color: rgb(205, 231, 255);
}

.menu a:active{
    color: rgb(205, 219, 231);
}

ul.messages {
    vertical-align: middle;
    background: linear-gradient(90deg,#b7fbb7, #9cf89c);
    margin: 0;
    height: 6vh;
}