{% extends "base.html" %}

{% block title %}{{ article.title}} | {{ article.author.get_username }}{% endblock %}

{% block content %}
    <h2 class="display-4">{{ article.title }}</h1>
    <div class="tags-body">
        {% for blog in article.blogs.all %}
        <a href="{% url 'blog:articles_by_blog' blog.id %}"><div class="blog">{{ blog.name }}&nbsp;</div></a>
        {% endfor %}
    </div>
    {% if user.get_username == article.author.get_username and perms.blog.change_article %}
    <a href="{% url 'blog:update_article' article.id %}" class="edit-link">Редактировать</a>
    {% endif %}
    <h4><a href="{% url 'users:profile' article.author.get_username %}" class="alias-link">{{ article.author.get_username }}</a></h4>
    <p>Язык: {{ article.language }}</p>
    {% load markdown_extras %}
    <p>{{ article.body|markdown|safe }}</p>
{% endblock %}