{% extends "base.html" %}

{% block title %}{{ article.title}} | {{ article.author.user.username }}{% endblock %}

{% block style %}
{% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/article_detail.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/tags/tags.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ article.title }}</h1>
    <div class="tags-body">
        {% for tag in article.tags.all %}
        <a href="{% url 'blog:articles_by_tag' tag.id %}"><div class="tag">{{ tag.name }}&nbsp;</div></a>
        {% endfor %}
    </div>
    <a href="{% url 'blog:update_article' article.id %}" class="edit-link">Редактировать</a>
    <h4><a href="{% url 'blog:author_detail' article.author.id %}" class="alias-link">{{ article.author.user.get_username }}</a></h4>
    <p>Язык: {{ article.language }}</p>
    <p>{{ article.body }}</p>
{% endblock %}