{% extends "base.html" %}

{% block title %}{{ article.title}} | {{ article.author.get_username }}{% endblock %}

{% block content %}
<h2 class="display-4">{{ article.title }}</h1>
    <div class="m-3">
      <img
      {% if author.profile.profile_picture %}
      src="{{ author.profile.profile_picture.url }}"
      {% else %}
      {% load static %}
      src="{% static 'users/images/default.jpg' %}"
      {% endif %}
      class="img-fluid img-thumbnail rounded-pill"
      alt="profile-picture"
      width="75px"
      height="75px"
      >
      <b><a href="{% url 'users:profile' article.author.get_username %}">{{ article.author.get_username }}</a></b>
    </div>
    {% if user.get_username == article.author.get_username and perms.blog.change_article %}
    <a href="{% url 'blog:update_article' article.id %}" class="btn btn-outline-secondary  btn-sm">Редактировать</a>
    {% endif %}
    {% if article.title_photo %}
    <div class="row">
        <div class="col-12 mx-auto text-center">
            <img src="{{ article.title_photo.url }}" alt="title-photo">
        </div>
    </div>

    {% endif %}
    <div class="d-flex align-items-start flex-wrap">
      {% for blog in article.blogs.all %}
      <a href="{% url 'blog:articles_by_blog' blog.pk %}" class="text-decoration-none">
        <div class="bg-primary rounded-pill text-light fw-bold p-1 m-2">
            {{ blog.name }}
        </div>
      </a>
      {% endfor %}
    </div>

    <p><b>Язык: </b>{{ article.language }}</p>
    <p><b>Описание: </b>{{ article.description }}</p>
    {% load markdown_extras %}
    <p>{{ article.body|markdown|safe }}</p>
{% endblock %}