<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
    {% block style %}{% endblock %}
</head>
<body>
    <header>
        <div class="logo"'>ИНКОГНИТО<span class="end-logo">.РУ</span></div>
        <nav>
            <ul class="menu">
                <li><a href="{% url 'blog:index' %}">Главная</a></li>
                <li><a href="{% url 'blog:tags' %}">Теги</a></li>
                <li><a href="{% url 'blog:authors' %}">Авторы</a></li>
                <li><a href="{% url 'blog:new_article' %}">Создать статью</a></li>
                <li><a href="{% url 'blog:new_author' %}">Создать автора</a></li>
            </ul>
        </nav>
        <nav class="menu">
            <ul>
                <li><a href="{% url 'search:search' %}">Поиск</a></li>
                <li><a href="">Вход</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block search %}{% endblock %}

        {% block content %}{% endblock %}

        {% block pagination %}
            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="link-pagination">назад</a>
                    {% endif %}
                    <span class="page-current">
                        cтраница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="link-pagination">далее</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        {% endblock %}
    </main>
    <div class="clear"></div>
    <footer>
    </footer>
</body>
</html>