{% extends "base.html" %}

{% block title %}Блоги{% endblock %}

{% block content %}
<div>
<h2 class="display-4">Блоги</h2>

      <div class="btn-group">
        <button class="btn btn-outline-primary dropdown-toggle mt-2 mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Сортировать
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{# utl 'blog:tags' #}?sort=new">Новые</a></li>
            <li><a class="dropdown-item" href="{# utl 'blog:tags' #}?sort=top">Популярные</a></li>
        </ul>
      </div>
      {% if user.is_authenticated %}
      <a href="{% url 'blog:new_blog' %}" class="btn btn-outline-secondary mt-2 mb-3">
        Создать блог
      </a>
      {% endif %}

    {% for blog in blogs %}
    <a href="{% url 'blog:articles_by_blog' blog.id %}"><div>{{ blog.name }}&nbsp;</div></a>
    <p>Статей: {{ blog.article_set.count }}</p>
    <p>Подписок: {{ blog.profile_set.count }}</p>
    <p>Описание: {{ blog.description }}</p>
    {% endfor %}
</div>
{% endblock %}