{% extends "base.html" %}

{% block title %}Новая статья | {{ user.get_username }}{% endblock %}

{% block style %}
{{ form.media.css }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h2 class="display-4">Создание новой статьи</h1>

      <div class="d-flex justify-content-end mb-2">
        {% if user.is_authenticated %}
        <a href="{% url 'blog:new_language' %}" target="_blank" class="btn btn-outline-primary btn-sm me-2">
          Новый язык
        </a>
        <a href="{% url 'blog:new_blog' %}" target="_blank" class="btn btn-outline-primary btn-sm">
          Новый блог
        </a>
      </div>

      <form action="{% url 'blog:new_article' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% load bootstrap5 %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary" onclick="this.form.submit(); this.disabled = true;">
          Опубликовать
        </button>
      </form>
      {% endif %}
  </div>
</div>
{% endblock %}
