{% extends "base.html" %}

{% block title %}Редактирование статьи | {{ article.author.get_username }}{% endblock %}

{% block style %}
{{ form.media.css }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{ form.media.js }}
{% endblock %}

{% block content %}
<h2 class="display-4">Редактирование статьи</h4>

  <div class="d-flex justify-content-end mb-2">
    {% if user.is_authenticated %}
    <a href="{% url 'blog:new_language' %}" target="_blank" class="btn btn-outline-primary btn-sm me-2">
      Новый язык
    </a>
    <a href="{% url 'blog:new_blog' %}" target="_blank" class="btn btn-outline-primary btn-sm">
      Новый блог
    </a>
    {% endif %}
  </div>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% load bootstrap5 %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary" onclick="this.form.submit(); this.disabled = true;">
      Сохранить
    </button>
    {% endbuttons %}
  </form>

    <!-- Кнопка-триггер модального окна -->
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Удалить
    </button>

  <!-- Модальное окно для удаления -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="RemoveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Удаление</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          Вы уверены что хотите удалить статью?
          Статья будет удалена навсегда.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>

          <form action="{% url 'blog:destroy_article' article.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" onclick="this.form.submit(); this.disabled = true;">
              Удалить
            </button>
          </form>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
