{% extends "blog/base.html" %}

{% block title %}Редактирование статьи{% endblock %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/css/base_article_form.css' %}">
{% endblock %}

{% block content %}
<h1>Редактирование статьи</h1>
<form action="{% url 'blog:update_article' article_id %}" method="post">
    {% csrf_token %}
    <table>
        {{ form }}
    </table>
    <button>Сохранить</button>
</form>

<form action="{% url 'blog:destroy_article' article_id %}" method="post">
    {% csrf_token %}
    <button>Удалить</button>
</form>
{% endblock %}