section {
    text-align: center;
}

.section-header::after {
    content: ":";
}

article {
    display: inline-grid;
    height: 150px;
    width: 300px;
    margin: 1em;
    border-radius: 10px;
    background: linear-gradient(140deg, rgb(235, 235, 241), rgb(247, 247, 253));
    border: 1px solid rgb(91, 91, 255);
}

.article:hover {
    background: rgb(242, 242, 252);
    border: 1px solid rgb(91, 91, 255);
    box-sizing: border-box;
}

.article:active {
    background: rgb(228, 228, 248);
}

.article-body {
    overflow-x: hidden;
    padding: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.click {
    text-decoration: none;
    color: var(--main-color);
    
}

.article-title {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
}

.article-name {
    font-size: small;
    font-weight: bold;
}

.article-time {
    font-size: 70%;
    white-space: nowrap;
}

.article-content {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 80%;
    display: block;
}