{% extends 'base.html' %}

{% block title %} Автор | {{ author.get_username }} {% endblock %}

{% block content %}
    <h2 class="display-4">Об авторе</h2>
    {% if user.get_username == author.get_username %}
    <a href="{% url 'blog:new_article' %}">Создать Статью</a>
    <p><a href="{% url 'users:update_user' user.get_username %}">Редактировать</a></p>
    {% endif %}

    <div>
        <img
        {% if author.profile.profile_picture %}
        src="{{ author.profile.profile_picture.url }}"
        {% else %}
        {% load static %}
        src="{% static 'users/images/default.jpg' %}"
        {% endif %}
        class="img-fluid img-thumbnail rounded-pill"
        alt="profile-picture"
        width="75px"
        height="75px"
        >
        <b>{{ author.get_username }}</b>
    </div>
    <p><b>Полностью: </b>{{ author.get_full_name }}</p>
    <p><b>Публикаций: </b>{{ author.article_set.count }}</p>
    {% if author.profile.about_me %}
    <p class="about_author"><b>О себе: </b>{{ author.profile.about_me }}</p>
    {% endif %}

    {% if author.profile.blogs.all %}
    <p>Следит за блогами:</p>
    <ul class="list-group list-group-flush flex-row">
      {% for blog in author.profile.blogs.all %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="bg-primary rounded-pill p-1 text-light fw-bold">{{ blog.name }}</div>
        </li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if author.article_set.exists %} 
    <h2 class="display-4">Статьи пользователя</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for article in object_list %}
        <div class="col">
            <article class="card h-100">
                {% if article.title_photo %}
                <img src="{{ article.title_photo.url }}" class="card-img-top h-100" alt="image">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ article.created_at|date:"j E" }}</h4>
                    <p class="card-text text-truncate">{{ article.description|truncatewords:10 }}</p>
                    <a href="{% url 'blog:article_detail' article.id %}" class="btn btn-outline-primary">Читать</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Обновлено 5 мин. назад</small>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}