{% extends 'base.html' %}

{% block title %} Автор | {{ author.get_username }} {% endblock %}

{% block content %}
    <h2 class="display-4">Об авторе</h2>
    {% if user.get_username == author.get_username %}
    <a href="{% url 'blog:new_article' %}" class="btn btn-outline-secondary mt-1 mb-3  btn-sm">Создать статью</a>
    <a href="{% url 'users:update_user' user.get_username %}" class="btn btn-outline-secondary mt-1 mb-3  btn-sm">Редактировать</a>    
    {% endif %}

    <div class="mb-3">
        <img
        {% if author.profile.profile_picture %}
        src="{{ author.profile.profile_picture.url }}"
        {% else %}
        {% load static %}
        src="{% static 'users/images/default.jpg' %}"
        {% endif %}
        class="img-fluid img-thumbnail rounded-pill"
        alt="profile-picture"
        width="75px"
        height="75px"
        >
        <b>{{ author.get_username }}</b> {% if author.is_online %}<span class="text-success">Online</span>{% endif %}
    </div>
    <div class="mt-2 mb-5">
        {% if not author.is_online %}
        {% if author.last_seen %}
            {% load humanize %}
        <span>Был в сети: {{ author.last_seen|naturaltime }}</span>
        {% else %}
        <span>Был в сети: Давно</span>
        {% endif %}
    {% endif %}
    </div>
    {% if author.get_full_name %}
    <p><b>Полностью: </b>{{ author.get_full_name }}</p>
    {% endif %}
    <p><b>Публикаций: </b>{{ author.article_set.count }}</p>
    {% if author.profile.about_me %}
    <p class="about_author"><b>О себе: </b>{{ author.profile.about_me }}</p>
    {% endif %}

    {% if author.profile.blogs.all %}
    <p>Следит за блогами:</p>
      <div class="d-flex align-items-start flex-wrap">
        {% for blog in author.profile.blogs.all %}
        <a href="{% url 'blog:articles_by_blog' blog.pk %}" class="text-decoration-none">
            <div class="bg-primary rounded-pill text-light fw-bold p-1 m-2">
                {{ blog.name }}
            </div>
        </a>
        {% endfor %}
      </div>
    {% endif %}

    {% if author.article_set.exists %} 
    <h2 class="display-4">Статьи пользователя</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for article in object_list %}
        <div class="col">
            <article class="card h-100">
                <img
                {% if article.title_photo %}
                src="{{ article.title_photo.url }}"
                class="card-img-top h-100"
                alt="title-photo"
                {% else %}
                {% load static %}
                src="{% static 'blog/placeholder/default.jpeg' %}"
                {% endif %}
                >
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ article.created_at|date:"j E" }}</h4>
                    <p class="card-text text-truncate">{{ article.description|truncatewords:10 }}</p>
                    <a href="{% url 'blog:article_detail' article.id %}" class="btn btn-outline-primary">Читать</a>
                </div>
                <div class="card-footer">
                    {% load humanize %}
                    <small class="text-muted"> Обновлено {{ article.updated_at|naturaltime }}</small>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}