{% extends "base.html" %}

{% block title %}Авторы{% endblock %}

{% block content %}
    <section>
        <h2 class="display-4">Авторы</h2>

      <div class="btn-group">
        <button class="btn btn-outline-primary dropdown-toggle mt-2 mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Сортировать
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{# url 'users:users' #}?sort=new">Новые</a></li>
            <li><a class="dropdown-item" href="{# url 'users:users' #}?sort=top">Популярные</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{# url 'users:users' #}?sort=articles_count">По количеству публикаций</a></li>
        </ul>
      </div>

      {% for author in authors %}
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-2">
            <img src="{{ author.profile.profile_picture.url }}" class="img-fluid img-thumbnail" alt="profile-picture">
          </div>
          <div class="col-md-10">
            <div class="card-body">
              <h5 class="card-title">{{ author.get_username }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ author.get_full_name }}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Публикаций: {{ author.article__count }}</h6>
              <p class="card-text">О себе будет немного</p>
              <a href="{% url 'users:profile' author.username %}" class="btn btn-outline-primary">Посмотреть</a>
              <p class="card-text"><small class="text-muted">Последнее обновление 3 мин. назад</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
    </section>
{% endblock %}