{% extends "base.html" %}

{% block title %}Авторы{% endblock %}

{% block content %}
    <section>
        <h2 class="display-4">Авторы</h2>

      <div class="btn-group">
        <button class="btn btn-outline-primary dropdown-toggle mt-2 mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Сортировать
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{# url 'users:users' #}?sort=new">Новые</a></li>
            <li><a class="dropdown-item" href="{# url 'users:users' #}?sort=top">Популярные</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{# url 'users:users' #}?sort=articles_count">По количеству публикаций</a></li>
        </ul>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-end align-items-start">
          <div>Подписчики</div> <div class="ms-4">Публикации</div>
        </li>
        {% for author in authors %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <img
          src="{{ author.profile.profile_picture.url }}"
          class="img-fluid rounded-pill"
          alt="profile-picture"
          width="65px"
          height="65px"
          >
          <div class="ms-2 mt-1 me-auto text-break">
            <a href="{% url 'users:profile' author.username %}">
              <div class="fw-bold text-break">{{ author.get_username }}</div>
            </a>
            <div>{{ author.get_full_name }}</div>
            {{ author.profile.about_me }}
          </div>
          <span class="badge bg-secondary rounded-pill ms-5">{{ author.article__count }}</span>
        </li>
        {% endfor %}
      </ul>
    </section>
{% endblock %}