{% extends "base.html" %}

{% block title %}Авторы{% endblock %}

{% load bootstrap5 %}

{% block content %}
    <section>
        <h2 class="display-4">Авторы</h2>

      <div class="btn-group">
        <button class="btn btn-outline-primary dropdown-toggle mt-2 mb-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Сортировать
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{# url 'users:users' #}?sort=new">Новые</a></li>
            <li><a class="dropdown-item" href="{# url 'users:users' #}?sort=top">Популярные</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="{# url 'users:users' #}?sort=articles_count">По количеству публикаций</a></li>
        </ul>
      </div>

      <form method="get">
        {% bootstrap_form filter.form %}
      </form>
      {% if user_list %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-end align-items-start">
          <div>Подписчики</div> <div class="ms-4">Публикации</div>
        </li>
        {% for author in user_list %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <img
          {% if author.profile.profile_picture %}
          src="{{ author.profile.profile_picture.url }}"
          {% else %}
          {% load static %}
          src="{% static 'users/images/default.jpg' %}"
          {% endif %}
          class="img-fluid rounded-pill"
          alt="profile-picture"
          width="65px"
          height="65px"
          >
          <div class="ms-2 mt-1 me-auto text-break">
            <a href="{% url 'users:profile' author.username %}">
              <div class="fw-bold text-break">{{ author.get_username }}</div>
            </a>
            <div>{{ author.get_full_name }}</div>
            {{ author.profile.about_me }}
          </div>
          <span class="badge bg-secondary rounded-pill ms-5">{{ author.article_set.count }}</span>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>По вашему запросу ничего не найдено</p>
      {% endif %}
    </section>
{% endblock %}