<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Главная{% endblock %}</title>

    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    {% block style %}{% endblock %}
</head>
<body style="padding-top: 3.5rem" style="padding-bottom: 3.5rem;">
  <header>
      <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Переключатель навигации">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <div class="navbar-brand">Incognito</div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'blog:index' %}">Главная</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:users' %}">Авторы</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:tags' %}">Теги</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'users:profile' user.username %}">{{ user.get_username }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:signup' %}">Регистрация</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}?next={{request.path}}">Войти</a>
              </li>
              {% endif %}
            </ul>
            <form class="d-flex me-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
              <button class="btn btn-outline-primary" type="submit">Поиск</button>
            </form>
        </div>
      </nav>
  </header>


    <main class="container">
        {% block search %}{% endblock %}

        {% block content %}{% endblock %}

        {% block pagination %}
            {% if is_paginated %}
            <nav aria-label="Search results pages" class="mt-4">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a></li>
                    <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="">Предыдущая</a></li>
                    {% endif %}

                    <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                    <li class="page-item"><a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="">Следующая</a></li>
                    {% endif %}
                </ul>
              </nav>
            {% endif %}
        {% endblock %}
    </main>

    <footer>
    </footer>

</body>
</html>